* {
    margin: 0;
    padding: 0;
}


/* body.modal-show {
    overflow: hidden;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.645);
    padding-right: 17px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    animation: fade .3s forwards;
}
.modal.show {
    display: block;
}
.modal-dialog {
    position: relative;
    width: auto;
    max-width: 576px;
    margin: 50px auto;
}
.modal-content {
    position: relative;
    display: flex;
    width: 100%;
    background-color: white;
    flex-direction: column;
    border-radius: 5px;
}
.modal-content .modal-header, .modal-body, .modal-footer {
    padding: 15px 30px;
}
@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(1);
    } 50% {
        opacity: 1;
        transform: scale(1.1);
    } 100% {
        opacity: 1;
        transform: scale(1);
    }
} */

.text1 {
    text-align: center;
    padding-top: 5%;
}

.Login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container {
    padding-left: 30%;
    padding-right: 30%;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.672);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    animation: fade .3s forwards;
}

.modal.invalid {
    position: static;
    background-color: transparent;
    color: red;
    text-align: center;
}

.modal.show {
    display: block;
    animation: fade .5s forwards;
}

.modal-dialog {
    position: relative;
    width: auto;
    max-width: fit-content;
    margin: 50px auto;
}

.modal-content {
    background-color: white;
    border-radius: 10px;
}

.modal-content .modal-header {
    padding: 30px 50px;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}